.cardx {
    border-radius: 20px 20px 20px 0;
}


.addBtn, .removeBtn, .likeBtn {
    position: absolute;
    background-color: rgb(255, 0, 255, 0.6);
    right: 0;

}

.addBtn {
    top: 0;
    border-radius: 0 20px 0 0;
}

.removeBtn {
    top:35px;
}

.likeBtn {
    bottom: 0;
    border-radius: 0 0 20px 0;
}

.bg-1 {
    background-color: #DFEBF7;
}

.crossedPrice {
    text-decoration: line-through;
    font-size: 0.8rem;
}

.textColorGrey {
    color: #858C92;
}